<ion-side-menus>

  <ion-pane ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-balanced">
<!--       <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button> -->
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-right-left"></ion-nav-view>
  </ion-pane>

  <ion-side-menu side="right" expose-aside-when="large">
    <header class="bar bar-header bar-royal">
      <h1 class="title">Scegli la città</h1>
    </header>
    <ion-content class="has-header">

      <div class="list" ng-controller="CityListCtrl">
        <ion-item ng-repeat="c in info.cities"
                  ng-click="registerFavoriteCity(c)"
                  class="item-icon-right"
                  href="#"
                  menu-close>
                  {{c.city}}
                  <i class="icon ion-ios7-flag" ng-if="favoriteCity === c.slug"></i>
        </ion-item>
      </div>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
